biosppy==1.0.0
h5py==3.5.0
heartpy==1.2.7
keras==2.9.0
Keras-Preprocessing==1.1.2
matplotlib==3.4.3
matplotlib-inline==0.1.2
neurokit2==0.2.0
numpy==1.21.4
openpyxl==3.0.9
pandas==1.3.4
pyvital==0.3.5
scikit-learn==1.0.1
scipy==1.7.1
seaborn==0.11.2
statsmodels==0.13.2
tableone==0.7.12
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-gpu==2.7.0
tensorflow-io-gcs-filesystem==0.26.0
urllib3==1.26.7
vitaldb==1.2.10
wfdb==4.0.0
xgboost==1.5.0
